<ion-view view-title="Activités" cache-view="false">
  <ion-content ng-class="{expanded:$scope.isExpanded}">
    <ion-refresher
      pulling-text="Tirez pour rafraîchir..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="hero " style="background-image: url('img/dash-bg.jpg');">
      <div class="content">
        <div class="avatar" style="background-image: url('img/default-avatar.jpg');"></div>
        <h3><a class="head">{{firstName}}  {{lastName}}</a></h3>
        <h4 ><a class="head">{{username}}</a></h4>
        <h4 ng-hide="godfatherCredentials==undefined" ><a class="head">Parrain :{{godfatherCredentials}}</a></h4>
      </div>
    </div>


    <div class="list ">
      <div class="item item-divider">Mes comptes</div>
      <div class="item item-divider">Solde compte personnel : <a class="{{classUserPeronnalMoney}}">{{userPersonnalMoney}} € </a></div>
      <div ng-hide="currentUserRole!='ROLE_USER'" class="item item-divider">Crédit autorisé : {{moneyLimit}} € </div>
      <button class="button button-full button-balanced" ng-click="toggleGroup(personnalPositiveMoneyFlows)" ng-class="{active: isGroupShown(personnalPositiveMoneyFlows)}">
        <i class="icon" ng-class="isGroupShown(personnalPositiveMoneyFlows) ? 'ion-minus' : 'ion-plus'"></i> Entrées d'argents
      </button>
      <ion-item class="item-accordion" ng-repeat="money_flow in personnalPositiveMoneyFlows" ng-show="isGroupShown(personnalPositiveMoneyFlows)">
        <div class="list ">
          <hr>Numéro de transfert d'argent : {{money_flow.id}}<hr><ion-item>
            Compte créditeur : {{money_flow.credit_user_details}}  <br>
            Montant : {{money_flow.value}} €  <br>
            Le : {{money_flow.created_at.toLocaleDateString()}} à {{money_flow.created_at.toLocaleTimeString()}}
            <ion-item class="item item-text-wrap"> Description: {{money_flow.description}} </ion-item>
            <button class="button button-clear button-assertive " ng-hide='!showPrivilege("ROLE_ADMIN") || money_flow.is_cancelled' ng-click="showDeleteMoneyFlowConfirm(money_flow.id)">Supprimer le transfert</button>
            <button class="button button-clear button-balanced " ng-hide ='!money_flow.is_cancelled' >Transfert annulé</button>
        </div>
      </ion-item>
      <button class="button button-full button-assertive" ng-click="toggleGroup(personnalNegativeMoneyFlows)" ng-class="{active: isGroupShown(personnalNegativeMoneyFlows)}">
        <i class="icon" ng-class="isGroupShown(personnalNegativeMoneyFlows) ? 'ion-minus' : 'ion-plus'"></i> Sorties d'argents
      </button>
      <ion-item class="item-accordion" ng-repeat="money_flow in personnalNegativeMoneyFlows" ng-show="isGroupShown(personnalNegativeMoneyFlows)">
        <div class="list ">
          <hr>Numéro de transfert d'argent : {{money_flow.id}}<hr>
            Compte débiteur : {{money_flow.debit_user_details}}  <br>
            Montant : {{money_flow.value}} € <br>
            Le : {{money_flow.created_at.toLocaleDateString()}} à {{money_flow.created_at.toLocaleTimeString()}}<br>
            <ion-item class="item item-text-wrap">Description: {{money_flow.description}}</ion-item>
            <button class="button button-clear button-assertive " ng-hide='!showPrivilege("ROLE_ADMIN") || money_flow.is_cancelled' ng-click="showDeleteMoneyFlowConfirm(money_flow.id)">Supprimer le transfert</button>
            <button class="button button-clear button-balanced " ng-hide ='!money_flow.is_cancelled' >Transfert annulé</button>
        </div>
      </ion-item>
      <button class="button button-full button-calm" ng-click="toggleGroup(personnalOrders)" ng-class="{active: isGroupShown(personnalOrders)}">
        <i class="icon" ng-class="isGroupShown(personnalOrders) ? 'ion-minus' : 'ion-plus'"></i> Historiques commandes
      </button>
      <ion-item class="item-accordion" ng-repeat="order in personnalOrders" ng-show="isGroupShown(personnalOrders)">
        <div class="list">
            <hr>
          Numéro de commande : {{order.id}}
            <hr>
            Type paiement : {{paymentType(order.is_paid_cash)}}  <br>
            Montant : {{order.order_price}} € <br>
            Le : {{order.created_at.toLocaleDateString()}} à {{order.created_at.toLocaleTimeString()}}<br>
            <button class="button button-clear button-assertive " ng-hide='!showPrivilege("ROLE_ADMIN") || order.is_cancelled' ng-click="showDeleteOrderConfirm(order.id)">Supprimer la commande</button>
            <button class="button button-clear button-balanced " ng-hide='!order.is_cancelled'>Commande annulée</button><br>
            <button class="button button-clear button-positive" ng-click="toggleUnderGroup(order.order_lines)" ng-class="{active: isUnderGroupShown(order.order_lines)}">
              <i class="icon" ng-class="isUnderGroupShown(order.order_lines) ? 'ion-minus' : 'ion-plus'"></i> Voir détails
            </button>
            <ion-item class="item-accordion" ng-repeat="order_line in order.order_lines" ng-show="isUnderGroupShown(order.order_lines)">
              <div class="list animate-fade-slide-in-right">
                Nom produit : {{order_line.product.name}} <br>
                Quantité: {{order_line.quantity}} <br>
                Catégorie produit: {{order_line.product.product_category.category_name}} (prix/pièce ={{order_line.product.product_category.price}}€) <br>
                Prix ligne commande : {{order_line.order_line_price}}
                </div>
              </div>
            </ion-item>
        </div>
      </ion-item>
      <div ng-show='showPrivilege("ROLE_ADMIN")'>
        <div class="item item-divider">Solde compte caisse barman : <a class="{{classUserCashRegisterMoney}}">{{userCashRegisterMoney}} €</a></div>
        <button class="button button-full button-balanced" ng-click="toggleGroup(cashRegisterPositiveMoneyFlows)" ng-class="{active: isGroupShown(cashRegisterPositiveMoneyFlows)}">
          <i class="icon" ng-class="isGroupShown(cashRegisterPositiveMoneyFlows) ? 'ion-minus' : 'ion-plus'"></i> Entrées d'argents
        </button>
        <ion-item class="item-accordion" ng-repeat="money_flow in cashRegisterPositiveMoneyFlows" ng-show="isGroupShown(cashRegisterPositiveMoneyFlows)">
          <div class="list">
            <hr>Numéro de transfert d'argent : {{money_flow.id}}<hr>
              Compte créditeur : {{money_flow.credit_user_details}}  <br>
              Montant : {{money_flow.value}} € <br>
              Le : {{money_flow.created_at.toLocaleDateString()}} à {{money_flow.created_at.toLocaleTimeString()}}<br>
              <ion-item class="item item-text-wrap">Description: {{money_flow.description}}</ion-item>
              <button class="button button-clear button-assertive " ng-hide='!showPrivilege("ROLE_ADMIN") || money_flow.is_cancelled' ng-click="showDeleteMoneyFlowConfirm(money_flow.id)">Supprimer le transfert</button>
              <button class="button button-clear button-balanced " ng-hide ='!money_flow.is_cancelled' >Transfert annulé</button>
          </div>
        </ion-item>
        <button class="button button-full button-assertive" ng-click="toggleGroup(cashRegisterMoneyNegativeFlows)" ng-class="{active: isGroupShown(cashRegisterMoneyNegativeFlows)}">
            <i class="icon" ng-class="isGroupShown(cashRegisterMoneyNegativeFlows) ? 'ion-minus' : 'ion-plus'"></i> Sorties d'argents
        </button>
        <ion-item class="item-accordion" ng-repeat="money_flow in cashRegisterMoneyNegativeFlows" ng-show="isGroupShown(cashRegisterMoneyNegativeFlows)">
          <div class="list ">
            <hr>Numéro de transfert d'argent : {{money_flow.id}}<hr>
              Compte débiteur : {{money_flow.debit_user_details}}  <br>
              Montant : {{money_flow.value}} € <br>
              Le : {{money_flow.created_at.toLocaleDateString()}} à {{money_flow.created_at.toLocaleTimeString()}}<br>
              <ion-item class="item item-text-wrap">Description: {{money_flow.description}} </ion-item>
              <button class="button button-clear button-assertive " ng-hide='!showPrivilege("ROLE_ADMIN") || money_flow.is_cancelled' ng-click="showDeleteMoneyFlowConfirm(money_flow.id)">Supprimer le transfert</button>
              <button class="button button-clear button-balanced " ng-hide ='!money_flow.is_cancelled' >Transfert annulé</button>
          </div>
        </ion-item>
        <button class="button button-full button-calm" ng-click="toggleGroup(cashRegisterOrders)" ng-class="{active: isGroupShown(cashRegisterOrders)}">
          <i class="icon" ng-class="isGroupShown(cashRegisterOrders) ? 'ion-minus' : 'ion-plus'"></i> Historiques commandes
        </button>
        <ion-item class="item-accordion" ng-repeat="order in cashRegisterOrders" ng-show="isGroupShown(cashRegisterOrders)">
          <div class="list">
            <hr>Numéro de commande : {{order.id}}<hr>
              Client : {{order.customer_details}}  <br>
              <div class="{{showIf(order.is_ordered_by_customer)}}"> Fait par le client </div>
              Type paiement : {{paymentType(order.is_paid_cash)}}  <br>
              Montant : {{order.order_price}} € <br>
              Le : {{order.created_at.toLocaleDateString()}} à {{order.created_at.toLocaleTimeString()}}<br>
              <button class="button button-clear button-assertive " ng-hide='!showPrivilege("ROLE_ADMIN") || order.is_cancelled' ng-click="showDeleteOrderConfirm(order.id)">Supprimer la commande</button>
              <button class="button button-clear button-balanced " ng-hide='!order.is_cancelled'>Commande annulée</button><br>
              <button class="button button-clear button-positive" ng-click="toggleUnderGroup(order.order_lines)" ng-class="{active: isUnderGroupShown(order.order_lines)}">
                <i class="icon" ng-class="isUnderGroupShown(order.order_lines) ? 'ion-minus' : 'ion-plus'"></i> Voir détails
              </button>
              <ion-item class="item-accordion" ng-repeat="order_line in order.order_lines" ng-show="isUnderGroupShown(order.order_lines)">
                <div class="list animate-fade-slide-in-right">
                  <div class="item item-divider">Nom produit : {{order_line.product.name}}</div>
                  Quantité: {{order_line.quantity}} <br>
                  Catégorie produit: {{order_line.product.product_category.category_name}} (prix/pièce ={{order_line.product.product_category.price}}€) <br>
                  Prix ligne commande : {{order_line.order_line_price}} €
                </div>
              </ion-item>
          </div>
        </ion-item>
      </div>
      <div ng-show='showPrivilege("ROLE_SUPER_ADMIN")'>
        <div class="item item-divider">Solde compte banque : <a class="{{classUserBankMoney}}">{{userBankMoney}} € </a></div>
        <button class="button button-full button-balanced" ng-click="toggleGroup(bankPositiveMoneyFlows)" ng-class="{active: isGroupShown(bankPositiveMoneyFlows)}">
          <i class="icon" ng-class="isGroupShown(bankPositiveMoneyFlows) ? 'ion-minus' : 'ion-plus'"></i> Entrées d'argents
        </button>
        <ion-item class="item-accordion" ng-repeat="money_flow in bankPositiveMoneyFlows" ng-show="isGroupShown(bankPositiveMoneyFlows)">
          <div class="list ">
            <hr>Numéro de transfert d'argent : {{money_flow.id}}<hr>
              Compte créditeur : {{money_flow.credit_user_details}}  <br>
              Montant : {{money_flow.value}} € <br>
              Le : {{money_flow.created_at.toLocaleDateString()}} à {{money_flow.created_at.toLocaleTimeString()}}<br>
              <ion-item class="item item-text-wrap">Description: {{money_flow.description}}</ion-item>
              <button class="button button-clear button-assertive " ng-hide='!showPrivilege("ROLE_ADMIN") || money_flow.is_cancelled' ng-click="showDeleteMoneyFlowConfirm(money_flow.id)">Supprimer le transfert</button>
              <button class="button button-clear button-balanced " ng-hide ='!money_flow.is_cancelled' >Transfert annulé</button>
          </div>
        </ion-item>
        <button class="button button-full button-assertive" ng-click="toggleGroup(bankNegativeFlows)" ng-class="{active: isGroupShown(bankNegativeFlows)}">
          <i class="icon" ng-class="isGroupShown(bankNegativeFlows) ? 'ion-minus' : 'ion-plus'"></i> Sorties d'argents
        </button>
        <ion-item class="item-accordion" ng-repeat="money_flow in bankNegativeFlows" ng-show="isGroupShown(bankNegativeFlows)">
          <div class="list ">
            <hr>Numéro de transfert d'argent : {{money_flow.id}}<hr>
              Compte débiteur : {{money_flow.debit_user_details}}  <br>
              Montant : {{money_flow.value}} € <br>
              Le : {{money_flow.created_at.toLocaleDateString()}} à {{money_flow.created_at.toLocaleTimeString()}} <br>
              <ion-item class="item item-text-wrap">Description: {{money_flow.description}}</ion-item>
              <button class="button button-clear button-assertive " ng-hide='!showPrivilege("ROLE_ADMIN") || money_flow.is_cancelled' ng-click="showDeleteMoneyFlowConfirm(money_flow.id)">Supprimer le transfert</button>
              <button class="button button-clear button-balanced " ng-hide ='!money_flow.is_cancelled' >Transfert annulé</button>
          </div>
        </ion-item>
      </div>
      <div ng-show='showPrivilege("ROLE_ADMIN")'>
        <div class="item item-divider">Comptes de mes filleuls</div>
         <div ng-show="nefews.length==0"class="item item-divider">Vous n'avez pas encore de filleul.</div>
         <ion-item  ng-repeat="nefew in nefews">
          <div class="list ">
             <div class="item item-divider">{{nefew.firstname}} {{nefew.lastname}} alias {{nefew.username}}</div>
             <ion-item>
              Solde compte personnel: <a class="{{colourClass(nefew.user_accounts[0].money_balance)}}">{{nefew.user_accounts[0].money_balance}} €</a>
            </ion-item>

            <div class="item range range-positive">
              <i class="icon ion-card positive"></i>
              <input type="range" ng-model="nefew.money_limit" on-release="onRelease(nefew.id, nefew.money_limit)"  step="5" snaps="true" min="0" max="50" >
              <i class="icon ion-card negative larger"></i>

            </div>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-money"></i>
              Limite de crédit
              <span class="badge badge-assertive">{{nefew.money_limit}} €</span>
            </a>
          </div>
         </ion-item>
      </div>

    <div class="tabs tabs-dark tabs-icon-top static">

        <a class="tab-item" ui-sref="app.order">
          <i class="icon ion-beer"  ></i> Commandes
        </a>
      <a class="tab-item" ui-sref="app.activity" >
        <i class="icon ion-arrow-graph-up-right"></i>  Activités
      </a>
        <a class="tab-item" ui-sref="app.money_flow">
          <i class="icon ion-cash"></i> Money
        </a>
         <a  ng-show='showPrivilege("ROLE_ADMIN")' class="tab-item" ui-sref="app.script">
          <i class="icon ion-social-tux"></i> Scripts
        </a>
        <a  class="tab-item" ui-sref="app.statistic">
          <i class="icon ion-pie-graph"></i> Statistiques
        </a>
        <a  class="tab-item" ui-sref="app.edit">
          <i class="icon ion-gear-b"></i> Editer
        </a>
      </div>
  </ion-content>
</ion-view>
