<ion-side-menus enable-menu-with-back-views="true" cache-view="false" >
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-android-more-vertical" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="dark-bg expanded">
            <div class="app-icon"></div>
            <h2>L'Ivrogne</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
               <ion-item nav-clear menu-close ui-sref="app.order">
                Commandes
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.activity">
                    Activités
                </ion-item>

                <ion-item nav-clear menu-close ui-sref="app.money_flow">
                    Transferts
                </ion-item>
                <ion-item ng-show='showPrivilege("ROLE_ADMIN")' nav-clear menu-close ui-sref="app.script">
                    Scripts
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.statistic">
                    Statistiques
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="app.edit">
                    Editer
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>


